@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentPage"] = Context.Request.Path;
}

<div class="text-center row">
    <div class="col">
        <h1 class="display-4">Matrix Calculator</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <div class="card">
            <div class="card-header">
                Perform diverse types of matrix operations
            </div>
            <div class="card-body">
                <h5 class="card-title">Available operations:</h5>
                <ul class="text-justify">
                    <li>Addition</li>
                    <li>Substraccion</li>
                    <li>Multiplication</li>
                    <li>Transpose</li>
                    <li>Inverse</li>
                    <li>Linear system equation solution</li>
                </ul>
                <a asp-controller="Home" asp-action="Operation" class="btn btn-primary">Compute</a>
            </div>
        </div>
    </div>
</div>
