@model Matrices.Models.InfoMat
@{
    ViewData["Title"] = "Inv Mat";
    ViewData["CurrentPage"] = Context.Request.Path;
}

<div class="text-center">
    <h2 class="display-4">Inverse of a Matrix</h2>
    <form asp-action="Inverse" method="post">
        <input type="hidden" asp-for="Type" value="4">
        <input type="hidden" asp-for="RowB" value="0">
        <input type="hidden" asp-for="ColB" value="0">
        <div class="form-group">
            <label >Matrix A</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="#Filas" asp-for="RowA">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="#Columnas" asp-for="ColA">
                </div>
            </div>
        </div>
        <br>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="btn btn-primary mb-2">Mandar</button>
    </form>
</div>