@model Matrices.Models.InfoOp

@if (Model.Result != null)
{
    <div class="row">
        <div class="col text-center">
            @{
                string msg = "";
                switch(Model.Operation){
                    case OpType.Solution:{
                        msg = "Ax <i class=\"fas fa-equals\"></i> B";
                        break;
                    }
                    case OpType.Addition:{
                        msg = "A <i class=\"fas fa-plus\"></i> B";
                        break;
                    }
                    case OpType.Substraction:{
                        msg = "A <i class=\"fas fa-minus\"></i> B";
                        break;
                    }
                    case OpType.Multiplication:{
                        msg = "A <i class=\"fas fa-times\"></i> B";
                        break;
                    }
                    case OpType.InverseA:{
                        msg = "A<sup>-1</sup>";
                        break;
                    }
                    case OpType.InverseB:{
                        msg = "B<sup>-1</sup>";
                        break;
                    }
                    case OpType.TransposeA:{
                        msg = "A<sup>T</sup>";
                        break;
                    }    
                    case OpType.TransposeB:{
                        msg = "B<sup>T</sup>";
                        break;
                    }    
                    default:{
                        msg = "Result";
                        break;
                    }
                }
            }
            <h4>Matrix R</h4>
            <h4>@Html.Raw(msg):</h4><br>
            <table class="table table-bordered">
                <tbody>
                    @foreach (List<double> row in Model.Result)
                    {
                        <tr>
                            @foreach (double val in row)
                            {
                                <td>@(String.Format("{0:F4}",val))</td>
                            }
                        </tr>
                    } 
                </tbody>
            </table>
        </div>
    </div>
}